.container {
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.container div {
    width: 50%;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display: block;
}

.overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay-wrap:hover .overlay {
    margin-top: 50%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: all 1s;
    margin-top: 100%;
    color: white;
}

.content {
    padding: 40px;
}

.overlay span {
    display: block;
}

@media screen and (max-width: 996px) {
    .container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}

