body {
  margin: 0;
  padding: 0;
}

.content1 {
  position: relative;
  background: linear-gradient(#2E9AFE, #0040FF);
  display: flex;
  color: white;
  height: 45vh;
}

.content1>div {
  width: 50%;
}

.image-area {
  position: absolute;
  bottom: 0px;
  right: -20%;
}

.image-area > div {
  width: 40%;
}

img {
  width: 100%;
  display: block;
}

.btn {
  color: white;
  background-color: #424242;
  border-radius: 5px;
  border: none;
  padding: 10px 20px 10px 20px;
}

.text-area {
  width: 100%;
  margin: 10%;
}

.header-text {
  font-size: 35px;
}

.content2 {
  margin: 5%;
  text-align: center;
}

.middle-text {
  font-size: 21px;
}
